body {
  width: 100%;
  height: 100vh;
  background: content-box radial-gradient(rgba(161, 250, 250, 0.6), rgba(1, 36, 50, 0.6));
  
}

.centralizer {
  margin: 0 auto;
  height: 100%;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  
}

.title {
  margin: 0 auto;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
}

.game-box {
  margin: 0 auto 15px;
  width: 500px;
  height: 580px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: gray;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1px auto;
  width:calc(100% - 10px);
  height: 40px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(229, 241, 86);
  vertical-align: middle;
}

.new-game {
  width: 20%;
  height: 30px;
  margin-top: 5px;
  text-transform: none;
  background-color: rgb(3, 204, 207);
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  border: 2px;
  transition: all 0.7s;
}

.new-game:hover {
  transform: scale(0.97);
  background-color: rgb(6, 157, 159);
}

.aim {
  margin-top: 10px;
  width: 20%;
  height: 25px;
}

.left {
  height: 30px;
  margin-top: 5px;
  width: 20%;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  transition: all 0.7s;
}

.left.active {
  background-color: red;
  font-weight: bold;
}

.timer {
  width: 20%;
  height: 30px;
  margin-top: 5px;
  background-color: black;
  color: red;
  text-transform: lowercase;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

.mines-number {
  text-decoration: none;
  background-color: rgba(247, 145, 108, 0.6);
  margin: auto;
  width: 40px;
  height: 20px;
  text-align: center;
}

.difficult {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: space-between;
  margin: auto;
  height: 30px;
  width:calc(100% - 10px);
  border: 3px solid black;
  border-radius: 10px;
}
.button-small,
.button-medium,
.button-large {
  border: none;
  border-radius: 3px;
  background-color: goldenrod;
  margin: auto;
  width: 30%;
  height: 70%;
  font-size: 0.8em;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s;
  box-shadow: 2px 2px  white;
}

.button-small:hover,
.button-medium:hover,
.button-large:hover {
  transform: scale(0.95);
  background-color: yellowgreen;
  box-shadow: 1px 1px  white;
} 

.button-small.active,
.button-medium.active,
.button-large.active {
  transform: scale(0.94);
  box-shadow: none;
  background-color: rgb(255, 242, 0);
} 

.mine-field {
  margin: 1px auto;
  width: calc(100% - 10px);
  height: calc(100% - 90px);
  border: 3px solid black;
  border-radius: 10px;
  background-color: darkslategray;
}

.row {
  width: 100%;
  height: calc(10% - 2px);
  margin-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
}
.row:first-child {
  margin-top: 4px;
}
.field {
  width: calc(10% - 2px);
  height: 100%;
  margin: 1px;
  font-size: 0;
  border-radius: 3px;
  background-color: rgb(20, 175, 253);
  transition: all 0.5s;
}
.field:hover {
  background-color: rgb(5, 157, 233);
}

.field.open {
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  transform: scale(0.95);
  background-color: white;
}

.field.block {
  background-image: url("../assets/svg/flag.svg");
  background-size: contain;
  font-size: 0;
  opacity: 0.8;
}
.field.danger {
  background-image: url("../assets/svg/mine.svg");
  background-size: contain;
  background-color: rgb(253, 52, 92);
}

.info {
  width: auto;
  font-size: 0.75em;
  text-align: center;
}

.gameover {
  position: fixed;
  visibility: hidden;
  margin-left: calc(50% - 5px);
  margin-top: calc(40% - 5px);
  font-size: 1px;
  width: 10px;
  height: 10px;
  text-align: center;
  background-image: url("../assets/img/explosion.jpg");
  background-size: contain;
  border-radius: 7px;
  opacity: 0.7;
  transition: all 0.8s;
}

.gameover.active {
  visibility: visible;
  width: 400px;
  height: 400px;
  margin-left: calc(50% - 200px);
  margin-top: 200px;
  font-size: 40px;
  opacity: 0.8;
}